watch_file flake.nix
watch_file package.json

export PATH="$(pwd)/node_modules/.bin:$PATH"
export NODE_ENV=development

{ 
  if nix flake show &> /dev/null; then
    use flake --experimental-features 'nix-command flakes'
  else
    use nix
  fi       
} 2>&1 | tee "$(pwd)/tmp/direnv-flake.log" >/dev/null

echo "[flake] Directory Environment is ready"